.card-container {
    margin: 10px;
}
.card-header {
    background-color: #0091c2;
      background: -webkit-gradient(linear,left top,right bottom,from(#003a5d),to(#0091c2));
      background: linear-gradient(#003a5d,#0091c2);
      color: #fff;
  }